__pycache__/
output*.csv
utils/__pycache__/
venv/
updates.txt
.DS_Store
animation/
tests/
analyse_results/
experiments/without_energy/.DS_Store
experiments/without_energy/500*500_1K/.DS_Store
*.DS_Store
*.DS_Store*
.DS_Store*

